// src/assets/styles/_variables.scss

// 亮色主题
$primary-color-light: #3498db;
$secondary-color-light: #2ecc71;
$background-color-light: #ffffff;
$primary-color-light-hover: #6d98b5; // hover颜色

// 深色主题
$primary-color-dark: #1e3a8a;
$secondary-color-dark: #e6ff57;
$background-color-dark: #121212;
$primary-color-dark-hover: #5b70aa; // hover颜色


// 字体设置
$h1-size: 2em;
$h2-size: 1.5em;
$h3-size: 1.2em;
$h4-size: 1em;
$p-size: 0.875em;